<div mat-dialog-title><h5>Commodity entry</h5></div>
<div mat-dialog-content *ngIf="data.passData != null">
    <div class="row">
        <div class="col-6">
            <div class="text-left custom-text-size-12 label-long-text" >
                {{data.passData.Main_value}}
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                    <mat-form-field class="text-mat-form-field custom-text-size-12" >
                            <textarea matInput #desc placeholder="Description" [(ngModel)]="data.passData.Description"></textarea>
                          </mat-form-field>            
            </div>
            <div class="row">
                    <mat-form-field class="text-mat-form-field custom-text-size-12" >
                            <textarea matInput #nac placeholder="Named Account" [(ngModel)]="data.passData.Nac"></textarea>
                          </mat-form-field>            
            </div>
            <div class="row">
                    <mat-form-field class="text-mat-form-field custom-text-size-12" >
                            <textarea matInput #excl placeholder="Exclusions" [(ngModel)]="data.passData.Exclusions"></textarea>
                          </mat-form-field>            
            </div>
        </div>

    </div>


</div>
<div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
</div>