<mat-card class="start-tool-container center-form-container">
  <div class="row">

      <div class="col-4 text-center">
          <button mat-fab color="primary" [routerLink]="['/extractor/contract']"><img class="small-icon rounded mx-auto d-block" src="assets/images/extract-icon/contract3.png"></button>
          <br>
          <span>Contract details</span>
        </div>
        <div class="col-4 text-center">
          <button mat-fab color="primary" [routerLink]="['/extractor/commodity']"><img class="small-icon rounded mx-auto d-block" src="assets/images/extract-icon/commodity2.png"></button>
          <br>
          <span>Commodity</span>
        </div>
        <div class="col-4 text-center">
          <button mat-fab color="primary" [routerLink]="['/extractor/city']"><img class="small-icon rounded mx-auto d-block" src="assets/images/extract-icon/city.png"></button>
          <br>
          <span>City</span>
        </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <button mat-fab color="primary" [routerLink]="['/extractor/rates']"><img class="small-icon rounded mx-auto d-block" src="assets/images/extract-icon/rates2.png"></button>
      <br>
      <span>Rates</span>
    </div>
    <div class="col-4 text-center">
      <button mat-fab color="primary" [routerLink]="['/extractor/arbs']"><img class="small-icon rounded mx-auto d-block" src="assets/images/extract-icon/truck.png"></button>
      <br>
      <span>Arbs</span>
    </div>
  </div>
</mat-card>