  .c-mat-form-field{
    width: 100% !important;
  }
  .text-mat-form-field{
      width: 100% !important;
  }

  .text-wrap{
      white-space: pre-wrap;
  }

  .ex-label{
    font-size: 10px !important;
  }
  .ex-label-small{
    font-size: 8px !important;
  }
  .special-dialog-container{
    max-height: 430px;
    overflow: auto;
  }